<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <h1>Login Page</h1>



    <form method="POST">
        {% csrf_token %}


        <label for="username">Enter username</label>
        <input type="text" name="username" id="username"> <br>
        <label for="password">Enter password</label>
        <input type="password" name="password" id="password"> <br>

        <input type="submit" value="Login">


        
    </form>

    <a href="{% url 'register' %}">Naviagte to register</a>




</body>
</html>